name: ad_low_noise_float_2023 - Build sdist (Dummy)

on:
  workflow_dispatch:
  pull_request:
  push:
    # branches:
    #   - master
    paths:
      - src/ad_low_noise_float_2023/**
      - pyproject.toml
      - .github/workflows/software_ad_low_noise_float_2023_wheels.yml
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build SDist
      run: pipx run build --sdist
      working-directory: .

    - name: Check metadata
      run: pipx run twine check dist/*
      working-directory: .

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  # Following code taken from
  # https://github.com/fastapi/fastapi/blob/master/.github/workflows/publish.yml
  # https://github.com/pypa/gh-action-pypi-publish
#  pypi-publish:
#    name: Upload release to PyPI
#    needs: [build_sdist]
#    runs-on: ubuntu-latest
#    permissions:
#      id-token: write
#
#    steps:
#    - uses: actions/download-artifact@v4
#      with:
#        pattern: cibw-*
#        path: dist
#        merge-multiple: true
#
#    - name: ls -lR
#      run: ls -lR
#
#    - name: Publish
#      uses: pypa/gh-action-pypi-publish@release/v1
#      # if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
#      with:
#        packages-dir: dist
#        # skip-existing: true
#        verbose: true
